.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
    
    /* Style the form elements */
    form {
      max-width: 800px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 8px;
    }
    
    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    button {
      background-color: #007BFF;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    /* Optional: Add some spacing between form elements */
    form > *:not(:last-child) {
      margin-bottom: 10px;
    }
  
    .success-message {
      background-color: #4caf50; /* Green background color */
      color: #ffffff; /* White text color */
      padding: 10px; /* Padding around the message */
      border-radius: 4px; /* Rounded corners */
      position: fixed; /* Position the message */
      top: 4%; /* Place the top edge of the message at the vertical center */
      left: 50%; /* Place the left edge of the message at the horizontal center */
      transform: translate(-50%, -50%); /* Center the message using transform */
      text-align: center; /* Center the message text */
      font-weight: bold; /* Bold font weight */
      z-index: 9999; /* Ensure the message is on top of other elements */
      display: block; /* Display as a block element to take up the full width */
    }
    
    .hidden {
      display: none;
    }
    