<mat-toolbar color="primary">
  
  <span style="font-size: xx-large; color: antiquewhite;">CRM</span>
  
  <div class="product-button-container">
    
    <button class="toolbar-button" mat-icon-button matTooltip="Produits" (click)="navigateToProducts()">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <span  class="products-text">Produits</span>
    
    <button class="toolbar-button" matTooltip="Clients" mat-icon-button (click)="getClients()">
      <mat-icon>people</mat-icon>
    </button>
    <span class="products-text">Clients</span>
    

    <button class="toolbar-button" matTooltip="Devis" mat-icon-button (click)="navigateToQuotations()">
      <mat-icon>description</mat-icon>
    </button>
    <span class="products-text">Devis</span>

    <button class="toolbar-button" matTooltip="purchaseOrder" mat-icon-button (click)="navigateToPurchaseOrders()">
      <mat-icon>description</mat-icon>
    </button>
    <span class="products-text">Bons de commandes</span>

    <button class="toolbar-button" matTooltip="purchaseOrder" mat-icon-button (click)="navigateToInvoices()">
      <mat-icon>attach_money</mat-icon>
    </button>
    <span class="products-text">Factures</span>

  </div>
  
</mat-toolbar>

<div class="container"   *ngIf="showedTable">
<h1>Tableau des clients </h1>

<table class="custom-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Email</th>
      <th>Entreprise</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients" (click)="onSelect(client)" [class.selected]="selectedClient === client">
      <td>{{ client.id }}</td>
      <td>{{ client.nom }}</td>
      <td>{{ client.prenom }}</td>
      <td>{{ client.telephone }}</td>
      <td>{{ client.email }}</td>
      <td>{{client.entreprise}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="selected-button-container" >
  <button  (click)="navigateToAddClient()" class="right-button" *ngIf="showedTable">
    Ajouter
  </button>
  <button (click)="navigateToUpdateClient()" *ngIf="selectedClient">Modifier</button>

  <button (click)="deleteClient()" *ngIf="selectedClient">Supprimer</button>
</div>
<router-outlet></router-outlet>
