
<div class="container">
    <h1>Tableau des Factures </h1>
    
    <table class="custom-table">
      <thead>
        <tr>
          <th>NUM</th>
          <th>Date d'émission</th>
          <th>Date d'écheance</th>
          <th>Client</th>
          <th class="status">Statut</th>
          <th>Download</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; let i = index" (click)="onSelect(invoice)" [class.selected]="selectedInvoice === invoice">
          <td>{{ invoice.numFacture }}</td>
          <td>
            <ng-container *ngIf="invoice.dateEmission; else notSent">
              {{ invoice.dateEmission.slice(0, 10) }}
            </ng-container>
            <ng-template #notSent>
              pas encore envoyé
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="invoice.dateEcheance; else notSent">
              {{ invoice.dateEcheance.slice(0, 10) }}
            </ng-container>
            <ng-template #notSent>
              pas encore envoyé
            </ng-template>
          </td>
          <td>{{ invoice.client.nom }} {{invoice.client.prenom}}</td>
          <td> 
            <ng-container [ngSwitch]="invoice.statut">
              <span *ngSwitchCase="'généré'" class="status-badge generated-status">Généré</span>
              <span *ngSwitchCase="'envoyé'" class="status-badge sent-status">Envoyé</span>
              <span *ngSwitchCase="'validé'" class="status-badge validated-status">Validé</span>
              <span *ngSwitchCase="'payé'" class="status-badge paid-status">Payé</span>
              <span *ngSwitchDefault class="status-badge unknown-status">Inconnu</span>
            </ng-container>
          </td>
          <td>
            <button class="custom-button"  mat-icon-button matTooltip="Télecharger Facture" (click)="generateInvoice(invoice)">
              <mat-icon>download</mat-icon>
              
            </button>
          </td>
      </tbody>
    </table>
    </div>
    <div class="selected-button-container" >
      <button (click)="navigateToUpdateInvoice()" *ngIf="selectedInvoice && selectedInvoice.statut !== 'payé'">
        Modifier
      </button>
    
      <button
        (click)="sendInvoice()"
        *ngIf="selectedInvoice && selectedInvoice.statut === 'généré'"
      >
        Envoyer
      </button>
    
      <button
        (click)="validateInvoice()"
        *ngIf="selectedInvoice && selectedInvoice.statut === 'envoyé'"
      >
        Valider
      </button>
    
      <div *ngIf="selectedInvoice && selectedInvoice.statut === 'validé'" class="payment-section">
        <label for="paymentAmount">Montant du paiement (Montant restant {{restAmount}}):</label>
        <div class="payment-input">
          <input type="number" id="paymentAmount" [(ngModel)]="paymentAmount" placeholder="Enter amount">
          <button (click)="payInvoice()">Payer</button>
        </div>
      </div>
    </div>
    
